.custom-padding {
  padding-bottom: 2rem;
  /* background-color: rgb(236, 228, 150); */
}

.subtitle {
  color: grey;
  font-weight: bold;
  font-size: medium;
  padding-top: 1%;
  padding-bottom: 2%;
}

.contact-img {
  
  -webkit-animation: mover 3s infinite  alternate;
  animation: mover 3s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(10px); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(10px); }
  100% { transform: translateY(-10px); }
}